.MMM-SonosController .sonosModuleDiv {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  /*max-width: 70vw;*/
  align-items:flex-start;
  padding: 8px;
}

.MMM-SonosController .controlDiv {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.MMM-SonosController .controlDiv.withFav{
  width:60%;
}


.MMM-SonosController .buttonDiv {
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.MMM-SonosController .infoDiv {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

.MMM-SonosController #artist {
  font-size: 1.5rem;
}
.MMM-SonosController .titleDiv {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  max-width: 60%;
}
.MMM-SonosController .titleDiv.noCover {
  max-width: 100%;
}

.MMM-SonosController .title {
  font-size: 2.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: inherit;
}
.MMM-SonosController .btnClass {
  text-transform: uppercase;
  color: #646464;
  outline: none;
  box-shadow: 0;
  border: none;
  background-color: transparent;
  font-size: 3.4rem;
}

.MMM-SonosController .btnClass:active {
  color: wheat;
}

.MMM-SonosController .cover {
  padding-right: 1vh;
  height: 100%;
  aspect-ratio: 1 / 1;
  width: 40%;
  max-width: 40%;
}

.MMM-SonosController .sliderDiv {
  padding-top: 6vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.MMM-SonosController .volumeSlider {
  width: 80%;
  height: 0.8rem;
  -webkit-appearance: none;
  background: #5f5f5f9d;
  border-radius: 1rem;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.MMM-SonosController .volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #8a8a8a;
  cursor: pointer;
}
.MMM-SonosController .volumeSlider.active::-webkit-slider-thumb {
  width: 2.9rem;
  height: 2.9rem;
  background: wheat;
}

.MMM-SonosController .favoritesListDiv {
  /*box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC; */
  width: 40%;
  min-width: 30%;
  /*margin-top: 4vh;*/
  margin-left: 2vw;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.MMM-SonosController .favoritesListDiv:active {
  overflow-y: scroll;
}
.MMM-SonosController .favoritesListDiv::-webkit-scrollbar {
  display: contents;
  background: rgba(0, 0, 0, 0.1);
  width: 0.5vw;
}

/* Track */
.MMM-SonosController .favoritesListDiv::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
.MMM-SonosController .favoritesListDiv::-webkit-scrollbar-thumb {
  background: rgba(189, 189, 189, 0.5);
  border-radius: 10px;
}

.MMM-SonosController .favoritesListDiv .favoriteListElement {
  display: inline-block;
  line-height: 1.8em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MMM-SonosController .favoriteListElement:active {
  color: wheat;
}
